glew-cmake*
glfw*
glm*
imgui*
flags*
.vscode*
cache*
.cache*
*.ilk
*.pdb
*.exe
.ninja_log
data.hpp
data_ids.hpp
DataContainer
compile_commands.json
LuaJIT
lua
*.dll
*.lib
codegen-lua
*.exp
lua-export*
sote*
DataContainer-Lua*
BlankProject*